/*	Glober Thin */

@font-face {
	font-family: Glober;
	src:
		url('/fonts/Glober-Thin/Glober-Thin.eot?') format('eot'),
		url("/fonts/Glober-Thin/Glober-Thin.eot?#iefix") format("embedded-opentype"),
		url('/fonts/Glober-Thin/Glober-Thin.woff') format('woff'),
		url('/fonts/Glober-Thin/Glober-Thin.ttf')  format('truetype'),
		url('/fonts/Glober-Thin/Glober-Thin.svg#Glober-Thin') format('svg');
	font-weight: 100;
}

/*	Glober Light */

@font-face {
	font-family: Glober;
	src:
		url('/fonts/Glober-Light/Glober-Light.eot?') format('eot'),
		url("/fonts/Glober-Light/Glober-Light.eot?#iefix") format("embedded-opentype"),
		url('/fonts/Glober-Light/Glober-Light.woff') format('woff'),
		url('/fonts/Glober-Light/Glober-Light.ttf')  format('truetype'),
		url('/fonts/Glober-Light/Glober-Light.svg#Glober-Light') format('svg');
	font-weight: 300;
}

/*	Glober Regular */

@font-face {
	font-family: Glober;
	src:
		url('/fonts/Glober-Regular/Glober-Regular.eot?') format('eot'),
		url("/fonts/Glober-Regular/Glober-Regular.eot?#iefix") format("embedded-opentype"),
		url('/fonts/Glober-Regular/Glober-Regular.woff') format('woff'),
		url('/fonts/Glober-Regular/Glober-Regular.ttf')  format('truetype'),
		url('/fonts/Glober-Regular/Glober-Regular.svg#Glober-Regular') format('svg');
	font-weight: 400;
}

/*	Glober SemiBold */

@font-face {
	font-family: Glober;
	src:
		url('/fonts/Glober-SemiBold/Glober-SemiBold.eot?') format('eot'),
		url("/fonts/Glober-SemiBold/Glober-SemiBold.eot?#iefix") format("embedded-opentype"),
		url('/fonts/Glober-SemiBold/Glober-SemiBold.woff') format('woff'),
		url('/fonts/Glober-SemiBold/Glober-SemiBold.ttf')  format('truetype'),
		url('/fonts/Glober-SemiBold/Glober-SemiBold.svg#Glober-SemiBold') format('svg');
	font-weight: 600;
}

/*	Glober Bold */

@font-face {
	font-family: Glober;
	src:
		url('/fonts/Glober-Bold/Glober-Bold.eot?') format('eot'),
		url("/fonts/Glober-Bold/Glober-Bold.eot?#iefix") format("embedded-opentype"),
		url('/fonts/Glober-Bold/Glober-Bold.woff') format('woff'),
		url('/fonts/Glober-Bold/Glober-Bold.ttf')  format('truetype'),
		url('/fonts/Glober-Bold/Glober-Bold.svg#Glober-Bold') format('svg');
	font-weight: 700;
}