ul,ol{padding: 0;margin: 0;}

*{outline: 0 !important;}

li{list-style-type: none;}

h1,h2,h3,h4,p, .h1, .h2, .h3, .h4{line-height: normal;margin: 0;padding: 0;}

html {height: 100%;}

a,a:hover,a:focus,a:active{text-decoration: none; color: inherit;}

body {line-height: normal;color: #000;height: 100%;background-color: #fff;}

.container{
	width: 1200px;
	max-width: 1200px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}






