@import url(bootstrap.min.css);
@import url(fonts.css);
@import url(reset.css);

body {
    font-family: Glober;
    font-size: 0;
}

.main_link {
    background-color: #94c15c;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    opacity: 1;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    font-size: 16px;
    text-transform: uppercase;
}

.main_link:hover, .main_link:focus, .main_link:active {
    opacity: 0.8;
    color: #ffffff;
}

a.link {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 10px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    opacity: 1;
}

a.link:hover, a.link:focus, a.link:active {
    opacity: 0.8;
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 15px;
    display: inline-block;
    color: #171b21;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

nav a:hover, nav a:focus, nav a:active {
    color: #3e86ce;
}

nav .active {
    color: #3e86ce;
}

p.title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 30px;
    text-align: center;
}

p.sub_title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 20px;
    text-align: center;
}

.text ol ul {
    padding: 0 20px;
}

.text ol li {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
    list-style-type: decimal;
}

.text ol li svg {
    fill: #171b21;
    width: 8px;
    height: 11px;
}

.text ul li {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
    list-style-type: circle;
}

.text ul li svg {
    fill: #171b21;
    width: 8px;
    height: 11px;
}

.text p {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
}

.text p b {
    font-weight: 600;
}

.text p svg {
    fill: #171b21;
    width: 8px;
    height: 11px;
}

.text p a {
    display: inline-block;
    text-decoration: underline;
    color: #94c15c;
    font-size: 14px;
    font-weight: 400;
}

table.main_table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table.main_table tr td {
    border: 1px solid #cecece;
}

table.main_table tr td svg {
    width: 9px;
    height: 12px;
    fill: #171b21;
}

table.main_table tr td span {
    background-color: #94c15c;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    display: block;
}

table.main_table tr td span svg {
    fill: #ffffff;
}

table.main_table tr td p {
    color: #171b21;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
}

form {
    background-color: rgba(149, 192, 92, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

form textarea,
form input[type='email'],
form input[type='text'],
form input[type='password'],
form select {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    background-color: #ffffff;
    border: 1px solid #cecece;
    border-radius: 10px;
}

.header_upper {
    background-color: #3e86ce;
    padding: 10px 0;
}

.header_upper a.link:first-child {
    padding-left: 0;
}

.header_upper .header_social {
    float: right;
}

.header_upper .header_social a {
    display: inline-block;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    margin-left: 10px;
    opacity: 1;
}

.header_upper .header_social a svg {
    width: 25px;
    height: 25px;
    fill: #ffffff;
}

.header_upper .header_social a:hover {
    opacity: 0.8;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cecece;
}

header a.logo {
    display: block;
    width: 191px;
    height: 27px;
    margin: 17px 0;
}

header a.logo img {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

header nav {
    float: right;
}

header nav a:last-child {
    padding-right: 0;
}

.rates {
    background: url("/images/plans_index2.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 50px 0;
}

.rates .rates_list {
    width: 58%;
    margin-right: 30px;
    padding: 10px 0 50px;
    display: inline-block;
}

.rates .rates_list .rate {
    border-radius: 10px;
    border: 1px solid #cecece;
    display: inline-block;
    width: 200px;
    margin-right: 30px;
    text-transform: uppercase;
    text-align: center;
}

.rates .rates_list .rate .top {
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #94c15c;
    color: #ffffff;
}

.rates .rates_list .rate .top p.name {
    font-weight: 600;
    font-size: 25px;
}

.rates .rates_list .rate .top b.percent {
    display: block;
    font-size: 50px;
    font-weight: 700;
    padding: 10px 0;
}

.rates .rates_list .rate .top i.for {
    display: block;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 400;
    font-style: normal;
}

.rates .rates_list .rate .top span {
    display: block;
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
}

.rates .rates_list .rate .bottom {
    padding: 20px;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rates .rates_list .rate .bottom span {
    display: block;
    color: #94c15c;
    font-size: 16px;
    font-weight: 600;
}

.rates .rates_list .rate .bottom span svg {
    fill: #94c15c;
    width: 9px;
    height: 11px;
}

.rates .rates_list .rate:nth-child(3) {
    margin-right: 0;
}

.rates .statistics {
    display: inline-block;
    width: 38%;
    vertical-align: top;
}

.rates .statistics table {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: left;
}

.rates .statistics table tr td {
    color: #171b21;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
    border-collapse: collapse;
    border: 1px solid #cecece;
}

.rates .statistics table tr td svg {
    fill: #171b21;
    width: 9px;
    height: 11px;
}

.rates .calc {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 20px;
    text-align: left;
}

.rates .calc .calc_el,
.rates .calc .calc_result {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.rates .calc .calc_el label,
.rates .calc .calc_result label {
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    display: block;
}

.rates .calc .calc_el label svg,
.rates .calc .calc_result label svg {
    fill: #ffffff;
    width: 11px;
    height: 12px;
}

.rates .calc .calc_el input,
.rates .calc .calc_el select,
.rates .calc .calc_result input,
.rates .calc .calc_result select {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #cecece;
    display: block;
    width: 100%;
}

.rates .calc .calc_el #total,
.rates .calc .calc_result #total {
    font-weight: 700;
    color: #ffffff;
}

.advantages {
    padding: 50px 0;
    text-align: center;
    background-color: #3e86ce;
}

.advantages .adv {
    padding-top: 40px;
}

.advantages .adv .adv_item {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 33px 0;
    border: 2px solid #ffffff;
    margin-right: 30px;
    border-radius: 10px;
}

.advantages .adv .adv_item svg {
    fill: #ffffff;
    width: 70px;
    height: 70px;
}

.advantages .adv .adv_item p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 15px;
}

.advantages .adv .adv_item:last-child {
    margin-right: 0;
}

.double_theme__block {
    text-align: left;
    padding: 50px 0;
}

.double_theme__block .sub_title {
    color: #171b21;
    text-align: left;
}

.double_theme__block .news_preview a.name {
    display: block;
    text-decoration: underline;
    color: #94c15c;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

.double_theme__block .news_preview span {
    font-size: 14px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
    display: block;
    padding-bottom: 30px;
}

footer .tops_line {
    background: url("/images/plans_index2.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

footer .tops_line a.main_link {
    margin-right: 30px;
}

footer .tops_line a.main_link:last-child {
    margin-right: 0;
}

footer .downer {
    background-color: #3e86ce;
    padding: 20px;
}

footer .downer .ps a {
    display: inline-block;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    margin-right: 20px;
}

footer .downer .ps a svg {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}

footer .downer .ps a:hover {
    opacity: 0.8;
}

.about {
    padding: 50px 0;
}

.about p.title {
    color: #171b21;
}

.faq {
    padding: 50px 0;
}

.faq p.title {
    color: #171b21;
}

.faq #accordion {
    padding-top: 30px;
}

.faq #accordion .panel-default {
    border: 0;
    box-shadow: none;
}

.faq #accordion .panel-default a.collapse_link {
    color: #2c99df;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
}

.rules {
    padding: 50px 0;
}

.rules p.title {
    color: #171b21;
}

.reviews {
    padding: 50px 0;
    text-align: center;
}

.reviews p.title {
    color: #171b21;
}

.reviews p.all {
    font-weight: 600;
    font-size: 18px;
    color: #171b21;
}

.reviews form {
    width: 50%;
    margin: 20px auto;
}

.reviews form textarea {
    width: 60%;
    display: block;
    height: 100px;
    margin: 20px auto;
    padding: 10px;
}

.reviews form input {
    width: 40%;
    margin: 0 auto;
    border: 0;
    display: block;
}

.reviews p.red {
    color: red;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0 0;
    text-decoration: underline;
}

.reviews .review_item {
    text-align: left;
    padding: 20px 0;
}

.reviews .review_item b.name {
    color: #3e86ce;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.reviews .review_item span {
    color: #171b21;
    font-size: 13px;
    border-bottom: 1px solid #cecece;
    padding: 0 0 5px;
    display: block;
    font-weight: 400;
}

.reviews .review_item p {
    padding: 10px 0 0;
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
}

.news {
    padding: 50px 0;
}

.news p.title {
    color: #171b21;
}

.news .news_item {
    text-align: left;
    padding: 20px 0;
}

.news .news_item b.name {
    color: #3e86ce;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.news .news_item span {
    color: #171b21;
    font-size: 13px;
    border-bottom: 1px solid #cecece;
    padding: 0 0 5px;
    display: block;
    font-weight: 400;
}

.news .news_item p {
    padding: 10px 0 0;
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
}

.support {
    padding: 50px 0;
}

.support p.title {
    color: #171b21;
}

.support form {
    width: 50%;
    margin: 20px auto;
}

.support form .input_block label {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
}

.support form .input_block textarea {
    width: 100%;
    display: block;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
}

.support form .input_block input[type='text'],
.support form .input_block input[type='email'] {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 5px 10px;
    width: 100%;
}

.support form .main_link {
    width: 40%;
    margin: 0 auto;
    border: 0;
    display: block;
    margin-top: 20px;
}

.tops {
    text-align: center;
    padding: 50px 0;
}

.tops p.title {
    color: #171b21;
}

.login {
    padding: 50px 0;
}

.login p.title {
    color: #171b21;
}

.login form {
    width: 50%;
    margin: 20px auto;
}

.login form .input_block label {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
}

.login form .input_block label a {
    display: inline-block;
    text-decoration: underline;
    color: #94c15c;
    font-size: 16px;
    font-weight: 400;
}

.login form .input_block textarea {
    width: 100%;
    display: block;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
}

.login form .input_block input[type='text'],
.login form .input_block input[type='email'],
.login form .input_block input[type='password'] {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 5px 10px;
    width: 100%;
}

.login form .main_link {
    width: 40%;
    margin: 20px auto 0;
    border: 0;
    display: block;
}

.login form .buttons {
    padding: 20px 0 0;
}

.login form .buttons a {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: #3e86ce;
    opacity: 1;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.login form .buttons a:first-child {
    float: left;
}

.login form .buttons a:nth-child(2) {
    float: right;
}

.login form .buttons a:hover {
    opacity: 0.8;
}

.login form .input_block.check {
    padding-top: 20px;
    text-align: center;
}

.login form .input_block.check input[type='checkbox'] {
    margin-right: 5px;
}

.cabinet {
    padding: 50px 0;
    text-align: center;
}

.cabinet p.sub_title {
    color: #171b21;
    padding: 30px 0;
}

.cabinet .cabinet_inner__menu {
    width: 100%;
    margin: 0 auto;
}

.cabinet .cabinet_inner__menu li {
    display: inline-block;
    margin-right: 20px;
}

.cabinet .cabinet_inner__menu li a {
    display: inline-block;
    color: #171b21;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    border-bottom: 2px solid #ffffff;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.cabinet .cabinet_inner__menu li a:hover {
    color: #3e86ce;
    border-bottom: 2px solid #3e86ce;
}

.cabinet .cabinet_inner__menu li .active {
    color: #3e86ce;
    border-bottom: 2px solid #3e86ce;
}

.cabinet .cabinet_inner__menu li:last-child {
    margin-right: 0;
}

.cabinet b.balance {
    display: block;
    font-weight: 600;
    font-size: 16px;
    color: #171b21;
    padding-bottom: 30px;
}

.cabinet b.balance i {
    font-style: normal;
    font-weight: 700;
}

.cabinet b.balance i svg {
    width: 9px;
    height: 11px;
    fill: #171b21;
}

.cabinet .buttons {
    padding: 20px 0;
}

.cabinet .buttons a {
    margin-right: 30px;
}

.cabinet .buttons a:last-child {
    margin-right: 0;
}

.cabinet form {
    text-align: left;
    width: 50%;
    margin: 20px auto;
}

.cabinet form .input_block label {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 10px 0;
}

.cabinet form .input_block textarea {
    width: 100%;
    display: block;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
}

.cabinet form .input_block input[type='text'],
.cabinet form .input_block input[type='email'],
.cabinet form .input_block input[type='password'],
.cabinet form .input_block select {
    font-size: 16px;
    color: #171b21;
    font-weight: 400;
    line-height: 23px;
    padding: 5px 10px;
    width: 100%;
}

.cabinet form .main_link {
    width: 40%;
    margin: 20px auto 0;
    border: 0;
    display: block;
}

.cabinet p.ref {
    font-weight: 700;
    color: #171b21;
    font-size: 21px;
    padding: 0 0 40px;
}

.cabinet p.ref b {
    color: #94c15c;
    text-decoration: underline;
}

.cabinet .pdt {
    padding-top: 30px;
}

/*# sourceMappingURL=style.css.map */
